body {
  background-color: #fff;
}

.text {
  border: 0;
  text-transform: inherit;
  font-style: italic;
  padding-top: 16px;
  padding-bottom: 16px;
}

.list {
  margin: 10% 25%;
  padding: 0;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

ul li:last-child {
  justify-content: center;
}

.list button {
  border: 0;
  background-color: #fff;
  margin: 16px;
  font-size: 16px;
  color: gray;
}

.icons {
  color: gray;
}

.icons:hover {
  cursor: move;
  color: #000;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  border-bottom: 1px solid #c9bebeab;
}
