body {
  background-color: #fff;
}

.container {
  margin: 10% 25%;
  padding: 20px 0;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.75);
}

.contain {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c9bebeab;
  padding-bottom: 5px;

}

.iconed,
.sub-icon {
  padding-right: 10px;
}

.heading {
  display:  flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #c9bebeab;
}

.input {
  width: 100%;
}

p {
  outline: none;
}

.text {
  border: 0;
  text-transform: inherit;
  font-style: italic;
  padding: 16px 10px;
  padding-bottom: 16px;
  width: 100%;
  outline: none;
}

.list {
  padding: 0;
  
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  border-bottom: 1px solid #c9bebeab;
}

.strike {
  text-decoration: line-through;
  color: #746d6d;
}

.task {
  display: flex;
  align-items: center;
}

.list button {
  border: 0;
  background-color: #fff;
  margin: 16px;
  font-size: 16px;
  color: #746d6d;
}

.icons {
  color: #746d6d;
}

.icons:hover {
  cursor: move;
  color: #000;
}
